:root {
  // PRIMARY
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  // SECONDARY
  --xDarkBlue: hsl(234, 12%, 34%);
  --grayBlue: hsl(229, 6%, 66%);
  --xLightGray: hsl(0, 0%, 98%);

  // FONT SIZE
  --fontSize: 15px;

  //   The designs were created to the following widths:

  // - Mobile: 375px
  // - Desktop: 1440px
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: var(--fontSize);
}

.container {
  margin: auto;
  width: 375px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--grayBlue);
  min-height: 100vh;
  padding-bottom: 20px;

  &__head {
    h1 {
      color: var(--xDarkBlue);
      font-weight: lighter;
      span {
        display: block;
        font-weight: bold;
      }
    }
  }

  &__body {
    &-card {
      width: 350px;
      height: 275px;
      font-size: 1rem;
      text-align: left;
      position: relative;
      margin-bottom: 20px;
      padding: 10px 20px;
      border-radius: 8px;
      box-shadow: 0px 5px 20px var(--grayBlue);
      h2 {
        color: var(--xDarkBlue);
      }
      img {
        position: absolute;
        bottom: 10%;
        right: 10%;
      }
      p {
        width: 99%;
      }
    }
  }
}

.cyan {
  border-top: 5px solid var(--cyan);
}

.blue {
  border-top: 5px solid var(--blue);
}

.red {
  border-top: 5px solid var(--red);
}

.orange {
  border-top: 5px solid var(--orange);
}

@media (min-width: 1000px) {
  .container {
    // min-width: 600px;

    &__body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      &-card {
        width: 30vw;
        margin: 10px;
        &:nth-child(3) {
          grid-column: 2/4;
          grid-row: 2/2;
          margin-top: -130px;
        }

        &:nth-child(1),
        &:nth-child(4) {
          margin-top: 180px;
        }
      }
    }
  }
}
